name: build-and-deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  RG_NAME: 'tutorialAzureFunctionsCSharpRG'
  RG_LOCATION: 'westus'

defaults:
  run:
    shell: bash

jobs:
  build-azure-infrastructure:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v2

      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'List resource groups'
        run: az group list

      - name: 'Setup resource groups'
        run: |
          az deployment sub create --location southafricanorth --template-file ./infra/main.bicep --parameters @./infra/parameters.json
