name: build-and-deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  RG_NAME: 'tutorialAzureFunctionsCSharpRG'
  RG_LOCATION: 'westus'

defaults:
  run:
    shell: bash

jobs:
  build-azure-infrastructure:
    runs-on: ubuntu-latest

    steps:
      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'List resource groups'
        run: az group list

      - name: 'Create/update resource group'
        run: |
            EXISTS=`az group exists --name $RG_NAME`
            if [[ "$EXISTS" -ne "true" ]]
            then
              az group create --location $RG_LOCATION --name $RG_NAME
            else
              echo Resource Group: $RG_NAME already exists
            fi
