name: build-and-deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  RG_NAME: 'tutorialAzureFunctionsCSharpRG'
  RG_LOCATION: 'westus'

jobs:
  build-az-infrastructure:
    runs-on: ubuntu-latest

    steps:
      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Show resource groups'
        uses: azure/CLI@v1
        with:
          inlineScript: az group list

      - name: 'Create tutorialAzureFunctionsCSharpRG resource group'
        uses: azure/CLI@v1
        with:
          inlineScript: |
            EXISTS=`az group exists --name ${{ RG_NAME }}`
            if [[ "$EXISTS" -eq "true" ]]
            then
              echo Resource Group: ${{ RG_NAME }} already exists
            else
              az group create --location ${{ RG_LOCATION }} --name ${{ RG_NAME }}
            fi
